/* Asap Regular - 400 */
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap/Asap-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Asap Medium - 500 */
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap/Asap-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Asap SemiBold - 600 */
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap/Asap-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Asap Bold - 700 */
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap/Asap-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Asap", sans-serif;
  max-width: 1380px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--bg-white);
}

:root {
  --nav-bg: #063f5c;
  --text-white: white;
  --text-mango: #f27f0c;
  --text-black: black;
  --text-red: #e75151;
  --text-blue: #429ebd;
  --text-dark-blue: #053f5c;
  --bg-light-blue: #04bfbf;
  --bg-yellow: #ffcc66;
  --bg-gray: #f2f2f2;
  --bg-white: #ffffff;
  --bg-pale-red: #e75151;
  --bg-pale-blue: #419ebd;
  --bg-sky-blue: #e3f1f5e5;
  --bg-hero-blue: #429ebd0a;
  --text-xs: 13px;
  --text-15: 15px;
  --text-16: 16px;
  --text-17: 17px;
  --text-18: 18px;
  --text-24: 24px;
  --text-25: 25px;
  --text-45: 45px;
  --text-36: 36px;
  --text-64: 64px;
  --text-67: 67px;
  --text-20: 20px;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --text-30: 30px;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

@mixin flex-start {
  display: flex;
  align-items: start;
}
@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin flex-start-col {
  display: flex;
  align-items: start;
  flex-direction: column;
}
@mixin flex-center-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@mixin padding {
  padding: 1rem 3rem;
}
@mixin buttonStyles {
  padding: 1rem 2rem;
  border-radius: 6px;
  border: 0;
}
.separator {
  opacity: 0.5;
}
input,
select {
  outline: 0;
}
select {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  header {
    .search {
      .separator,
      select {
        display: none;
      }
    }
  }

  main {
    #hero {
      .content {
        .title {
          .bold {
            font-size: var(--text-45);
          }
          font-size: var(--text-45);
        }
      }
    }
    #banner1 {
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .card {
          width: 100%;
        }
      }
      .cards2 {
        .card1,
        .card2 {
          .content {
            margin-top: 1rem;
            .details {
              .bold {
                font-size: var(--text-20);
              }
              .semibold {
                font-size: var(--text-24);
              }
              .small {
                font-size: var(--text-15);
              }
            }
            img {
              width: 40%;
            }
          }
        }
      }
    }
    #category {
      .products {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  footer {
    #service {
      & > div {
        grid-template-columns: repeat(2, 1fr);

        .service-card {
          justify-content: flex-start;
        }
      }
    }
    & > div {
      width: 100%;
      padding-top: 9rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1050px) {
  header {
    .search {
      display: none;
    }
  }
  main {
    #popular {
      .title {
        max-width: 80%;
      }
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    #feedback {
      padding: 2rem 1rem;
      .title {
        max-width: 90%;
        text-align: center;
        .top {
          font-size: var(--text-30);
        }
        .regular {
          font-size: var(--text-17);
        }
      }
      .content {
        .canvas {
          height: 400px;

          .profile {
            .account {
              img {
                width: 45px;
                height: 45px;
              }
            }
            & > p {
              max-width: 70%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 950px) {
  main {
    #hero {
      height: 400px;
      .content {
        .title {
          .bold {
            font-size: var(--text-30);
          }
          font-size: var(--text-30);
        }
      }
      .img1 {
        position: absolute;
        width: 50%;
        overflow: hidden;
        height: 64%;
        bottom: 1rem;
        right: 2rem;
      }
    }
    #banner1 {
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .card,
        .card1,
        .card2,
        .card3 {
          max-width: 100%;
        }
      }
      .cards2 {
        .card1,
        .card2 {
          .content {
            margin-top: 1rem;
            .details {
              .bold {
                font-size: var(--text-20);
              }
              .semibold {
                font-size: var(--text-24);
              }
              .small {
                font-size: var(--text-15);
              }
            }
            img {
              width: 40%;
            }
          }
        }
      }
    }
    #banner2 {
      flex-direction: column;
      margin-bottom: 0rem;
      .item2 {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
      }
    }
    #feature {
      .products {
        grid-template-columns: repeat(1, 1fr);
        .item1 {
          width: 60%;
          margin: 0 auto;
          padding: 2rem;
          margin-bottom: 2rem;
          .card {
            img {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  nav {
    ul {
      width: 80%;
      margin: 0 auto;
    }
    div {
      display: none;
    }
  }
  header {
    .items {
      div,
      .separator {
        display: none;
      }
    }
  }
  main {
    padding: 1rem 3rem;

    #hero {
      height: 300px;
      .content {
        top: 10%;
        .title {
          .bold {
            font-size: var(--text-30);
          }
          font-size: var(--text-30);
        }
      }
      .img1 {
        width: 45%;
        height: 64%;
      }
    }
    #banner1 {
      .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .card,
        .card1,
        .card2,
        .card3 {
          max-width: 100%;
        }
      }
      .cards2 {
        flex-direction: column;
      }
    }
    #banner2 {
      flex-direction: column;
      margin-bottom: 0rem;
      .item2 {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
      }
    }
    #category {
      .title {
        .items {
          p {
            font-size: var(--text-25);
            .bold {
              font-weight: var(--font-bold);
            }
          }
          div {
            p {
              width: 20px;
              height: 20px;
              img {
                width: 8px;
              }
            }
          }
        }
      }
      .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    #popular {
      .title {
        max-width: 80%;
      }
      .cards {
        grid-template-columns: repeat(1, 1fr);
        .card {
          max-width: 75%;
          margin: 0 auto;
        }
      }
    }
    #feedback {
      padding: 2rem 1rem;
      .title {
        max-width: 80%;
        text-align: center;
        .top {
          font-size: var(--text-30);
        }
        .regular {
          font-size: var(--text-17);
        }
      }
      .content {
        .canvas {
          height: 400px;
          width: 90%;
          .profile {
            & > p {
              max-width: 70%;
              font-size: var(--text-15);
            }
          }
        }
      }
    }
  }

  footer {
    #service {
      & > div {
        grid-template-columns: repeat(2, 1fr);

        .service-card {
          justify-content: flex-start;
        }
      }
    }
    & > div {
      width: 100%;
      padding-top: 9rem;
      grid-template-columns: repeat(2, 1fr);
    }
    & > p {
      font-size: var(--text-15);
    }
  }
}
@media screen and (max-width: 660px) {
  nav {
    ul {
      width: 80%;
      gap: 2rem;
      margin: 0 auto;
    }
    div {
      display: none;
    }
  }
  header {
    .items {
      div,
      .separator {
        display: none;
      }
    }
  }
  main {
    #hero {
      height: 300px;
      .content {
        top: 10%;
        .title {
          .bold {
            font-size: var(--text-30);
          }
          font-size: var(--text-30);
        }
      }
      .img1 {
        width: 40%;
        height: 54%;
      }
    }

    #banner2 {
      flex-direction: column;
      margin-bottom: 0rem;
      .item2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
      }
    }
    #category {
      .title {
        .items {
          p {
            font-size: var(--text-36);
            .bold {
              font-weight: var(--font-bold);
            }
          }
        }
      }
      .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    #popular {
      .title {
        max-width: 100%;

        .top {
          font-size: var(--text-36);
        }
        .regular {
          font-size: var(--text-15);
        }
      }
      .cards {
        .card {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }
    #feature {
      .title {
        .items {
          p {
            font-size: var(--text-36);
            .bold {
              font-weight: var(--font-bold);
            }
          }
          div {
            p {
              width: 20px;
              height: 20px;
              img {
                width: 8px;
              }
            }
          }
        }
      }
      .products {
        grid-template-columns: repeat(1, 1fr);
        .item1 {
          width: 100%;
          margin: 0 auto;
          padding: 2rem;
          margin-bottom: 2rem;
          .card {
            img {
              width: 50%;
            }
          }
        }
        .item2 {
          .card {
            .image {
              & > img {
                width: 80%;
              }
              .icons {
                gap: 0.5rem;
                p {
                  width: 40px;
                  height: 40px;
                  img {
                    width: 15px;
                  }
                }
              }
            }
            .details {
              align-items: start;
            }
          }
        }
      }
    }
    #feedback {
      padding: 2rem 1rem;
      .title {
        max-width: 80%;
        text-align: center;
        .top {
          font-size: var(--text-30);
        }
        .regular {
          font-size: var(--text-17);
        }
      }
      .content {
        .canvas {
          height: 450px;
          width: 90%;
          .profile {
            & > p {
              max-width: 70%;
              font-size: var(--text-15);
            }
          }
        }
      }
    }
  }

  footer {
    #service {
      & > div {
        grid-template-columns: repeat(1, 1fr);

        .service-card {
          justify-content: flex-start;
          border-right: 0;
        }
      }
    }
    & > div {
      width: 100%;
      padding-top: 18rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 550px) {
  body{
    overflow-x: hidden;
  }
  nav {
    ul {
      width: 100%;
      font-size: var(--text-xs);

      gap: 1.5rem;
      margin: 0 auto;
    }
    div {
      display: none;
    }
  }
  header {
    padding: .5rem;
    overflow: hidden;
    .items {
      gap: 0.5rem;
      padding-right: .5rem;
      div,
      .separator {
        display: none;
      }
      .heart {
        display: none;
      }
    }
  }
  main {
    padding: 0.5rem 1rem;

    #hero {
      height: 300px;
      .content {
        padding: 0.6rem;
        top: 10%;
        .title {
          .bold {
            font-size: var(--text-25);
          }
          font-size: var(--text-200);
        }

        button {
          padding: 0.8rem 0.5rem;
        }
      }
      .img1 {
        width: 45%;
        height: 44%;
      }
    }

    #banner2 {
      flex-direction: column;
      margin-bottom: 0rem;
      .item2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
      }
    }
    #category {
      .title {
        .items {
          p {
            font-size: var(--text-36);
            .bold {
              font-weight: var(--font-bold);
            }
          }
        }
      }
      .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    #popular {
      .title {
        max-width: 100%;

        .top {
          font-size: var(--text-36);
        }
        .regular {
          font-size: var(--text-15);
        }
      }
      .cards {
        .card {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }
    #feature {
      .title {
        .items {
          p {
            font-size: var(--text-36);
            .bold {
              font-weight: var(--font-bold);
            }
          }
          div {
            p {
              width: 20px;
              height: 20px;
              img {
                width: 8px;
              }
            }
          }
        }
      }
      .products {
        grid-template-columns: repeat(1, 1fr);
        .item1 {
          width: 100%;
          margin: 0 auto;
          padding: 2rem;
          margin-bottom: 2rem;
          .card {
            img {
              width: 50%;
            }
          }
        }
        .item2 {
          .card {
            .image {
              & > img {
                width: 80%;
              }
              .icons {
                gap: 0.5rem;
                p {
                  width: 40px;
                  height: 40px;
                  img {
                    width: 15px;
                  }
                }
              }
            }
            .details {
              align-items: start;
            }
          }
        }
      }
    }
    #feedback {
      padding: 2rem 1rem;
      .title {
        max-width: 80%;
        text-align: center;
        .top {
          font-size: var(--text-30);
        }
        .regular {
          font-size: var(--text-17);
        }
      }
      .content {
        .canvas {
          height: 500px;
          width: 90%;
          .profile {
            & > p {
              max-width: 70%;
              font-size: var(--text-15);
            }
          }
        }
      }
    }
  }

  footer {
    #service {
      & > div {
        grid-template-columns: repeat(1, 1fr);

        .service-card {
          justify-content: flex-start;
          border-right: 0;
          text-wrap: wrap;
        }
      }
    }
    & > div {
      width: 100%;
      padding-top: 18rem;
      grid-template-columns: repeat(1, 1fr);
    }
    & > p {
      font-size: var(--text-xs);
    }
  }
}
